<!DOCTYPE html>
<html ng-app='PodcastFeedApp'>
<head>
    <meta charset="utf-8">
    <title>Podcast rss feed</title>
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
</head>
<body ng-controller="PodcastFeedController">
<div class="container">
    <div class="col s12"><h1>Podcast RSS Feed</h1></div>
    <div class=" col s12">
        <div class="input-field">
            <input ng-model="podcastUrl" id="podcastUrl" class="podcastUrl" type="text"/><label for="podcastUrl" data-error="wrong" data-success="right">URL  </label>
            <div><button class="btn" ng-click="readRSS()">Obtener episodios</button></div>
        </div>

        <ul class="collection with-header">
            <li class="collection-header"><h4>Ejemplos de RSS</h4></li>
            <li class="collection-item"><div>http://feeds.lds.org/LDSConversations<a href="#!" class="secondary-content" ng-click="setRss('http://feeds.lds.org/LDSConversations')"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>http://feeds.lds.org/EnduringItWell<a href="#!" class="secondary-content" ng-click="setRss('http://feeds.lds.org/EnduringItWell')"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div> http://www.sueldo30.com/feed/podcast/<a href="#!" class="secondary-content" ng-click="setRss('http://www.sueldo30.com/feed/podcast/')"><i class="material-icons">send</i></a></div></li>

        </ul>

        <div ng-if="podcasts.length > 0">
            <div ng-repeat="podcast in podcasts" ng-model="podcasts">
                <div class="col s12 m7">
                    <h2 class="header">{{podcast.title}}</h2>
                    <div class="card horizontal">
                        <div class="card-image" >
                            <img ng-if="podcast.media.thumbnail" ng-src="{{podcast.media.thumbnail}}" alt="image thumbnail">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content" ng-bind-html="podcast.content || 'No content'">

                            </div>
                            <div class="card-action" ng-if="podcast.media.link != ''">
                                <!-- Modal Trigger -->

                                <div class="col">
                                    <a class="btn ng-isolate-scope" data-target="demoModal{{$index}}" modal ready="readyCallback()" complete="completeCallback('player'+$index)" open="openModal"><span class="ng-scope">Reproducir podcast</span></a>
                                </div>


                                <!-- Modal Structure -->
                                <div id="demoModal{{$index}}" class="modal">
                                    <div class="modal-content">
                                        <h4>{{podcast.title}}</h4>
                                        <div>
                                            <audio controls id="player{{$index}}" preload="none">
                                                <source src="{{trustedURL(podcast.media.link)}}" type="audio/mpeg">
                                                Your browser does not support the audio element.
                                            </audio>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

<!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.2/angular-sanitize.js" type="text/javascript"></script>
<!-- Your app -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/rss2json.js"></script>




</body>
</html>

</div>
