<html>
  <head>
    <!--
        === Remove google's feed script ===
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    -->

    <!-- === Add this script === -->
    <script type="text/javascript" src="https://rss2json.com/gfapi.js"></script>

    <script type="text/javascript">
        {{trustedString(podcast.content)}}
    google.load("feeds", "20");

    function initialize() {
      var feed = new google.feeds.Feed("http://www.sueldo30.com/feed/podcast/");
      feed.load(function(result) {
        if (!result.error) {
          var container = document.getElementById("feed");
          for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];
            var div = document.createElement("div");
            div.appendChild(document.createTextNode(entry.title));
            container.appendChild(div);
          }
        }
      });
    }
    google.setOnLoadCallback(initialize);

    </script>
  </head>
  <body>
    <div id="feed"></div>
  </body>
</html>
See it in action !

Also you can use all the extra parameters listed in our documentation page by passing them as a second parameter when initializing a new google.feeds.Feed object.

var feed = new google.feeds.Feed("https://news.ycombinator.com/rss",{
        api_key : '0000000000000000000000000000000000000000',
        count : 5,
        order_by : 'title',
        order_dir : 'asc'
});
Feel free to contact us if you have any issue using this service or you want to request a feature.

Published 22 Jan 2017
@rss2json Created by Molayli
